h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.container {
    justify-content: center !important;
}

.input-group {
    width: 85% !important;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 4px -2px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 4px -2px rgba(0,0,0,0.81);
    box-shadow: 7px 7px 4px -2px rgba(0,0,0,0.50);  
    border-radius: 10px !important;
    margin-top: 40px;
    height: 42px;
} 

.input-group-text {
    background-color: #fff;
    border-right: 2px solid #d6d6d6;
    padding-right: .40rem !important;
    padding-left: .40rem !important;
}

form .form-group input.remember {
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 20px;
    float: left;
    height: 15px;
    width: 15px;
}

form .form-group label.logged-in {
    float: left;
    margin-top: 15px;
}

form .form-group.buttons {
    width: 85%;
    margin: 0 auto;
    margin-top: 0px;
    height: 100px;
}

form .form-group.remember {
    height: 50px;
    float: left;
    width: 100%;
    
}
a.password-forget {
    text-decoration: underline;
    color: #000;   
    margin: 0 auto;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 30px;
}