body {
    background-color: #fcc63f;
}

h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.container {
    justify-content: center !important;
}

form {
    justify-content: center !important;
    text-align: center;
    height: 400px;
    margin-top: 20px;
}

form .form-group input.remember {
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 20px;
    float: left;
    height: 15px;
    width: 15px;
}

form .form-group label.logged-in {
    float: left;
    margin-top: 15px;
}

form .form-group.buttons {
    width: 85%;
    margin: 0 auto;
    margin-top: 0px;
    height: 100px;
}

form .form-group.remember {
    height: 50px;
    float: left;
    width: 100%;
    
}

a.password-forget {
    text-decoration: underline;
    color: #000;   
    margin: 0 auto;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 30px;
}

.errorMessage {
    margin-top: -12px;
    font-size: 80%;
    color: red;
    font-weight: bold;
    display: block;
    height: 16px;
    margin-bottom: 8px;
}