.Button {
    min-width: 40%;
    border-radius: 7px;
    border: none;
    padding: 8px;
    -webkit-box-shadow: 10px 10px 4px -2px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 4px -2px rgba(0,0,0,0.81);
    box-shadow: 7px 7px 4px -2px rgba(0,0,0,0.50);
    font-weight: bold;
}

button:disabled {
    color: black;
    background-color: #dddddd;
}

.blue {
    background-color: #2e3192;
    color: #fff;
}

.white {
    background-color: #fff;
    color: #2e3192;
}

.next {
    background-color: #2e3192;
    color: #fff;
    float: right;
    min-width: 60% !important;
}

.back {
    float: left;
    min-width: 10% !important;
    width: auto;
    padding: 8px;
    background-color: #faca00;
}

.confirm {
    background-color: #faca00;
    color: #000;
    float: right;
    min-width: 70% !important;
}
