.logo {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: block;
    padding-top: 40px;
}

@media only screen and (min-width: 600px) {
    .logo {
        width: 40%;
    }
}

@media only screen and (min-width: 800px) {
    .logo {
        width: 30%;
    }
}