.Suggestions {
    position: absolute;
    max-height: 120px;
    overflow-x: hidden;
    width: 60%;
    left: 15px;
    right: 0;
    margin: 0 auto;
    background-color: #eeeeee;
    list-style-type: none;
    padding-left: 0px !important;
    z-index: 2;
}


.Suggestions li {
    padding: 14px 0;
    list-style: none;
    list-style-type: none;
    padding-left: 0px !important;
    border-bottom: 1px solid black;
}

.Suggestions li:hover {
    background-color: lightblue;
}