.Trains {
    right: 0;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0px !important;
}

.Trains li {
    padding: 10px 0;
    height: 50px;
    list-style: none;
    list-style-type: none;
    padding-left: 0px !important;
    border-bottom: 1px solid #eeeeee;
}

.Trains li:hover {
    background-color: lightblue;
}


.Trains li.active {
    background-color: black;
}


.Trains p {
    width: 45%;
    float: left;
}