.group {
    width: 85% !important;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 4px -2px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 10px 4px -2px rgba(0,0,0,0.81);
    box-shadow: 7px 7px 4px -2px rgba(0,0,0,0.50);  
    border-radius: 10px !important;
    height: 42px;
} 

.text {
    background-color: #fff;
    border-right: 2px solid #d6d6d6;
    padding-right: .40rem !important;
    padding-left: .40rem !important;
}

.login {
    font-size: 28px;
    color: #2e3192;
}